:root {
    --header:#f1471c;
    --primary: #0052cc;
    --primary-hover: #0263f5;
    --primary-color: #ffffff;
    --warning: #ffab00;
    --warning-hover: #fabc40;
    --warning-color: #172b4d;
    --danger: #de350b;
    --danger-hover: #e2532f;
    --danger-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
}

.timer{
    margin: 50px auto;
    text-align: center;
    width: 50%;
    border:#ffab00 2px solid;
    border-radius: 5px;
}

.timer .time {
    padding: 100px 0;
    font-size: 70px;
}

.todo-list{
    margin: 50px auto;
    text-align: center;
    width: 50%;
    border:#ffab00 2px solid;
    border-radius: 5px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 3.75rem;
}

.login-form {
    font-weight: 300;
    width: 300px;
    margin: 0 auto;
    background: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.content {
    padding: 0 30px 30px 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px 20px 30px;
    background: #f3f3f3;
    border-radius: 5px;
}

.input {
    width: 188px;
    margin-top: 25px;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.input:hover {
    background: #dfe9ec;
    color: #414848;
}

.button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: inherit;
    font-weight: 600;
    line-height: 2.28571rem;
    padding: 0px 10px;
}

.button--primary {
    background: var(--primary);
    color: var(--primary-color);
}

.button--primary:hover {
    background: var(--primary-hover);
}

.button--warning {
    background: var(--warning);
    color: var(--warning-color);
}

.button--warning:hover {
    background: var(--warning-hover);
}

.button--danger {
    background: var(--danger);
    color: var(--danger-color);
}

.button--danger:hover {
    background: var(--danger-hover);
}